html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("https://img.freepik.com/free-vector/abstract-shiny-lines-white-gray-background_1017-25097.jpg?w=1800&t=st=1684131044~exp=1684131644~hmac=6e0b99e7ee283fa73b10f8505ccda92beee200ad86b79bceb08c80fe1b441ae6");
    font-family: Arial, sans-serif;
    border-bottom: 10px solid #4e4f4e;
}

.thecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 8%;
}

.boxy {
    background-color: #e9ecef;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1000px;
    height: 800px;
    box-shadow: #ddd;
    padding: 1em;
    text-align: left;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    border-radius: 20px;
    box-shadow: 3px 3px 13px 13px grey;

}


.result img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media (min-width: 0px) and (max-width: 1800px) {
    .boxy {
        width: 40%;
    }
}

.navbar {
    background-color: #0d1b2a;
    color: #faedcd;

}

.header {
    margin-left: 45%;
    font-weight: bolder;
    font-family: Arial;
    font-size: larger;
}

form {
    margin: 20px;

}

textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-basis: auto;
    background-color: white;
}



textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px #357ae8;
}

button {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}

button:hover {
    background-color: #269aff;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #4e4f4e;
    transform: translateY(-0.2em);
    cursor: pointer;
}


#suggestions {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.suggestion {
    margin: 5px;
    padding: 5px 10px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.suggestion:hover {
    background-color: #ddd;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
    margin: 0 10px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.lang-toggle {
    display: flex;
    align-items: center;
    margin: auto;
    margin-right: 10%;



}

/*next and previous button*/
.buttons {
    display: flex;
    align-items: center;
}

figure {
    position: relative;
    margin: 0;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-size: 14px;
    text-align: center;
}



@media (min-width: 50px) and (max-width: 1400px) {
    .lang-toggle {
        margin-left: 2%;
    }
}

/*change width and height*/
.widthHeight {
    font-size: x-small;
    letter-spacing: 1px;
    line-height: 1;
    padding: 15px 10px;
    margin: auto;
    margin-top: 5%;
    background-color: #e9ecef;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px grey;
}

/*delete button*/
#deleteButton {
    background-color: #797979;
    color: white;
    padding: 0.1em 1.5em;
    font-size: 1em;
    margin: 1px;
    margin-left: 20%;
    border: none;



}

#deleteButton:hover {
    background-color: #db0000;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #4e4f4e;
    transform: translateY(-0.2em);
    cursor: pointer;


}

@media (min-width: 0) and (max-width: 1000px) {
    #deleteButton {
        margin-left: 5%;
    }
}

/*save button*/
#save-button {
    background-color: #808080;
    color: white;

    padding: 0.1em 1.5em;
    font-size: 1em;
    margin: 1px;


}

#save-button:hover {
    background-color: #13bb3a;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #4e4f4e;
    transform: translateY(-0.2em);
    cursor: pointer;

}

#imageViewer {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 23px;
    line-height: 2.3;
    width: 1000px;
    height: 800px;
    background-color: #13bb3a;
}

.box {
    font-size: medium;
    letter-spacing: 1px;
    line-height: 2.3;
    padding: 15px 0;
    display: flex;
    justify-content: last baseline;
}

.buttons .btn {
    background: #e3e3e3;
    color: #ffffff;
    padding: 0.1em 1em;
    font-size: 20px;
    margin: 1px;

}

.buttons .btn :hover {
    background: #4e4f4e;
    color: #4e4f4e;
}

#next-btn {
    margin-left: 31%;
}

p {
    font-size: smaller;
}