<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/index.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  <!-- Normalize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <!-- Cropper CSS -->
  <link rel="stylesheet" href="/cropper.min.css" />
  <!-- Cropper JS -->
  <script src="cropper.min.js"></script>
  <script src="/script.js" defer></script>
  <title>Annotation Tool</title>
  <div class="topnav">
  </div>
</head>

<body>
  <div class="main-container">

    <!-- input file -->
    <input type="file" id="file-input" style="display:none" webkitdirectory multiple>
    <div class="box-2">
      <div class="result">
        <div class="" id="add-folder" onclick="document.getElementById('file-input').click()">
          <svg xmlns="http://www.w3.org/2000/svg" height="100" id="add-svg" width="100" fill="currentColor"
            class="bi bi-folder-plus" viewBox="0 0 16 16">
            <path
              d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z" />
            <path
              d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
          </svg>
          </input>
        </div>
      </div>
      <p class="hide name_of_image" id="image-name"></p>
      <div class="buttons">
        <button class="hide button-47" id="prev-btn">Previous</button>
        <button class="hide button-47" id="next-btn">Next</button>
      </div>

      <div id="imageViewer">
        <div>
          <img id="image" src="" />
          <span id="imageCaption"></span>
        </div>
        <div class="lang-toggle">
          <div class="lang-toggle-left">
            <span class="lang-title">English</span>
            <label class="switch">
              <input type="checkbox" id="toggleNepaliSwitch" class="toggle-switch">
              <span class="slider round"></span>
            </label>
            <span class="lang-title">Nepali</span>
          </div>
          <div class="savendownload">
            <button id="downloadButton" class="button-47 save"><svg id="downloadIcon" xmlns="http://www.w3.org/2000/svg"
                width="16" height="16" fill="currentColor" class="bi bi-cloud-download-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z" />
              </svg></button>
          </div>
        </div>

        <div id="lowcontainer">
          <textarea id="transliterateTextarea" class="text-input" placeholder="Enter your text here"></textarea>
          <div id="suggestions"></div>

          <p class="help-text">
            Note : Press spacebar after typing a word for Nepali translation. Make sure that Nepali translation is toggled on.
          </p>

          <div class="special-char-selection hide">
           
            <select id="special-characters" >
              <option value="" disabled selected>नेपाली यूनिकोड</option>
              <option value="त">त</option>
              <option value="ट">ट</option>
              <option value="थ">थ</option>
              <option value="ठ">ठ</option>
              <option value="द">द</option>
              <option value="ड">ड</option>
              <option value="ध">ध</option>
              <option value="ढ">ढ</option>
              <option value="न">न</option>
              <option value="ण">ण</option>
              <option value="ङ">ङ</option>
              <option value="श">श</option>
              <option value="ष">ष</option>
              <option value="ऋ">ऋ</option>
              <option value="ॠ">ॠ</option>
              <option value="ञ">ञ</option>
              <option value="छ">छ</option>
              <option value="क्ष">क्ष</option>
              <option value="ज्ञ">ज्ञ</option>
              <option value="ॐ">ॐ</option>
            </select>
            <button id="select-special-character">Select</button>
          </div>

        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/danfojs@1.1.2/lib/bundle.min.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
</body>

</html>