* {
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: Arial, sans-serif;
  border: 1px solid #011521;
  border-top: none;
}

.topnav {
  overflow: hidden;
  background: radial-gradient(
    48.69% 20933.5% at 48.69% 50%,
    rgba(171, 175, 176, 0) 0%,
    #6aa2ba 83.97%
  );
  width: 100%;
  height: 15px;
  box-shadow: 1px 5 px rgba(171, 175, 176, 0);
  text-align: center;
  font-weight: bolder;
  color: rgb(10, 62, 82);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
  max-width: 75vw;
  max-height: 100%;
  margin-left: 5%;
  margin: 5px auto;
  border-radius: 10%;
  padding: none;
}

.sub-container {
  border-radius: 1.5%;
  padding: 1rem;
  /* margin-top: -19%; */
}

form {
  margin: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0%;
  padding: 10px;
  font-size: 16px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.box-2 {
  height: 500px;
  width: 80%;
  background-color: rgb(207, 207, 207);
  padding: 0%;

  border: none;
  border-radius: 5px;
  background-image: url("https://img.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_74190-8189.jpg?w=1380&t=st=1684471756~exp=1684472356~hmac=50962e9f62fde873d62ae32d5cfb245cf5b0c6331ad29f9c3c0ee17ffa995314");
  background-size: 100%;
  background-position: inherit;
  box-shadow: 2px 2px 2px 2px rgba(1, 0, 0, 0.3);
  margin: auto;
  margin-top: 1.2%;
}

.result {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: none;
}

.result img {
  height: 20px;
  width: 100%;
  object-fit: contain !important;
}

.name_of_image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 600px;
  height: 40px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  margin-top: 6px;
  /* padding: 10px; */
  font-size: 12px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #357ae8;
}

#suggestions {
  margin: 6px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.suggestion {
  margin: 5px;
  padding: 5px 10px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.suggestion:hover {
  background-color: #ddd;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  margin: 4px 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ededed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 8px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: #6ab0cf;
}

.lang-toggle {
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
  align-items: center;
  justify-content: space-between;
}
.lang-toggle-left {
  display: flex;
  align-items: center;
}

.lang-title {
  font-size: 18px;
  font-weight: bold;
  color: #5f5f5f;
}

.btn {
  background-color: red;
  width: 100%;
}

figure {
  position: relative;
  margin: 0;
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size: 14px;
  text-align: center;
}

.hide {
  display: none !important;
}

#add-folder {
  cursor: pointer;
  position: relative;
  height: 100px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  padding: 15px;
}

button:hover {
  background-color: #6fbfe2;
  box-shadow: 0 0.5em 0.5em -0.4em #4e4f4e;
  transform: translateY(-0.2em);
}

.button-47 {
  align-items: center;
  background: #6aa2ba;
  border: 0 solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #ffffff;
  display: inline-flex;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  height: 45px;
  width: 120px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 20px;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 1rem;
  margin-top: 0%;
  margin-bottom: 1%;
}
/* 
#saveButton {
  margin-top: 0;
  position: relative;
  left: 60%;
} */

.help-text {
  color: #717171;
  font-size: smaller;
  text-align: justify;
}

#prev-btn {
  font-size: small;
  margin: 3px;
  padding: 3px 6px;
  font-size: 10px;
  cursor: pointer;
  padding: 6px;
  height: 32px;
  width: 80px;
}

#next-btn {
  font-size: small;
  margin: 3px;
  padding: 6px 6px;
  font-size: 10px;
  cursor: pointer;
  padding: 6px;
  height: 32px;
  width: 80px;
}
@media (max-width: 768px) {
  .lang-title,
  .lang-toggle,
  .button-47 {
    font-size: 0.9rem;
    width: 90px;
  }
}
